@* @model TModel *@

@{
    // Layout = null;
}

@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@
<h2 class="text-center">Dashboard(Tablero de estadisticas)</h2>



<p>En proceso ... </p>