@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Proyecto de tarea para hospital.</p>
</div>


<hr>
<div class="text-center">
  <h1>Los mejores profesionales</h1>
  <p class="lead text-muted">
    Destacados talentos dispuestos a cuidar tu salud.
  </p>
  <p>
    @* <a href="#" class="btn btn-primary my-2">Reserva tu cita</a> *@
    <a href="#" class="btn btn-secondary my-2">Mas informacion de proceso de antencion</a>
  </p>
</div>
<div class="row">
  @* can be duplicate *@
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      @* <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
      <img src="https://elcomercio.pe/resizer/NnoLlmpnNRimO9fsSHh-CzTrF-s=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/N4AGS5DT3FCANLO7GYMSIIBGUU.jpg" alt="">
      <div class="card-body">
        <p class="card-text">
    La Clínica Digital MAPFRE es una nueva forma de cuidar tu salud y la de tu familia, a través de paquetes médicos virtuales que podrás gestionar desde la comodidad de tu hogar o donde te encuentres.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      @* <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
<img src="https://elcomercio.pe/resizer/NnoLlmpnNRimO9fsSHh-CzTrF-s=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/N4AGS5DT3FCANLO7GYMSIIBGUU.jpg" alt="">
      <div class="card-body">
        <p class="card-text">
   Vienen incluidos en todos nuestros planes de salud y también pueden ser adquiridos de manera independiente.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      @* <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> *@
<img src="https://elcomercio.pe/resizer/NnoLlmpnNRimO9fsSHh-CzTrF-s=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/N4AGS5DT3FCANLO7GYMSIIBGUU.jpg" alt="">
      <div class="card-body">
        <p class="card-text">
  Para saber más sobre todos los beneficios que tenemos para ti, solicita una cotización hoy mismo.
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div>
          <small class="text-muted">9 mins</small>
        </div>
      </div>
    </div>
  </div>

</div>

<hr>

<div class="">
  <h3 class="display-4">
    Agendar una teleconsulta es rápido y sencillo
  </h3>
  <p>
    ¿Por qué elegir Clínica Digital 360°?
  </p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a></p>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <h2>Horarios flexibles</h2>
    <p>
      Teleconsultas cuando necesites y desde donde estés.
      Teleconsultas cuando necesites y desde donde estés.
      Teleconsultas cuando necesites y desde donde estés.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">Ver detalles</a></p>
  </div>
  <div class="col-md-4">
    <h2>Farmacia y Laboratorio</h2>
    <p>
      Servicio post consulta con nuestros mejores aliados para una atención integral.
      Servicio post consulta con nuestros mejores aliados para una atención integral.
      Servicio post consulta con nuestros mejores aliados para una atención integral.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">Ver detalles</a></p>
  </div>
  <div class="col-md-4">
    <h2>Médicos con prestigio</h2>
    <p>
      Atención en línea con nuestros mejores especialistas.
      Atención en línea con nuestros mejores especialistas.
      Atención en línea con nuestros mejores especialistas.
    </p>
    <p><a class="btn btn-secondary" href="#" role="button">Ver detalles</a></p>
  </div>
</div>

@* <hr> *@
@* *@
@* <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"> *@
@*   <h1 class="display-4">Pricing</h1> *@
@*   <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p> *@
@* </div> *@
@* <div class="container"> *@
@*   <div class="card-deck mb-3 text-center"> *@
@*     <div class="card mb-4 shadow-sm"> *@
@*       <div class="card-header"> *@
@*         <h4 class="my-0 font-weight-normal">Free</h4> *@
@*       </div> *@
@*       <div class="card-body"> *@
@*         <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1> *@
@*         <ul class="list-unstyled mt-3 mb-4"> *@
@*           <li>10 users included</li> *@
@*           <li>2 GB of storage</li> *@
@*           <li>Email support</li> *@
@*           <li>Help center access</li> *@
@*         </ul> *@
@*         <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button> *@
@*       </div> *@
@*     </div> *@
@*     <div class="card mb-4 shadow-sm"> *@
@*       <div class="card-header"> *@
@*         <h4 class="my-0 font-weight-normal">Pro</h4> *@
@*       </div> *@
@*       <div class="card-body"> *@
@*         <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1> *@
@*         <ul class="list-unstyled mt-3 mb-4"> *@
@*           <li>20 users included</li> *@
@*           <li>10 GB of storage</li> *@
@*           <li>Priority email support</li> *@
@*           <li>Help center access</li> *@
@*         </ul> *@
@*         <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button> *@
@*       </div> *@
@*     </div> *@
@*     <div class="card mb-4 shadow-sm"> *@
@*       <div class="card-header"> *@
@*         <h4 class="my-0 font-weight-normal">Enterprise</h4> *@
@*       </div> *@
@*       <div class="card-body"> *@
@*         <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1> *@
@*         <ul class="list-unstyled mt-3 mb-4"> *@
@*           <li>30 users included</li> *@
@*           <li>15 GB of storage</li> *@
@*           <li>Phone and email support</li> *@
@*           <li>Help center access</li> *@
@*         </ul> *@
@*         <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button> *@
@*       </div> *@
@*     </div> *@
@*   </div> *@
@* *@
@*   <footer class="pt-4 my-md-5 pt-md-5 border-top"> *@
@*     <div class="row"> *@
@*       <div class="col-12 col-md"> *@
@*         <img class="mb-2" src="https://getbootstrap.com/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> *@
@*         <small class="d-block mb-3 text-muted">© 2017-2021</small> *@
@*       </div> *@
@*       <div class="col-6 col-md"> *@
@*         <h5>Features</h5> *@
@*         <ul class="list-unstyled text-small"> *@
@*           <li><a class="text-muted" href="#">Cool stuff</a></li> *@
@*           <li><a class="text-muted" href="#">Random feature</a></li> *@
@*           <li><a class="text-muted" href="#">Team feature</a></li> *@
@*           <li><a class="text-muted" href="#">Stuff for developers</a></li> *@
@*           <li><a class="text-muted" href="#">Another one</a></li> *@
@*           <li><a class="text-muted" href="#">Last time</a></li> *@
@*         </ul> *@
@*       </div> *@
@*       <div class="col-6 col-md"> *@
@*         <h5>Resources</h5> *@
@*         <ul class="list-unstyled text-small"> *@
@*           <li><a class="text-muted" href="#">Resource</a></li> *@
@*           <li><a class="text-muted" href="#">Resource name</a></li> *@
@*           <li><a class="text-muted" href="#">Another resource</a></li> *@
@*           <li><a class="text-muted" href="#">Final resource</a></li> *@
@*         </ul> *@
@*       </div> *@
@*       <div class="col-6 col-md"> *@
@*         <h5>About</h5> *@
@*         <ul class="list-unstyled text-small"> *@
@*           <li><a class="text-muted" href="#">Team</a></li> *@
@*           <li><a class="text-muted" href="#">Locations</a></li> *@
@*           <li><a class="text-muted" href="#">Privacy</a></li> *@
@*           <li><a class="text-muted" href="#">Terms</a></li> *@
@*         </ul> *@
@*       </div> *@
@*     </div> *@
@*   </footer> *@
@* </div> *@