@model WebApplicationMvc.ViewModels.Usuarios.CreateUserViewModel

@{
    // Layout = null;
}

@* <!DOCTYPE html> *@
@* *@
@* <html> *@
@* <head> *@
@*     <title>title</title> *@
@* </head> *@
@* <body> *@
@* <div> *@
@*        *@
@* </div> *@
@* </body> *@
@* </html> *@
<partial name="Others/_RegisterUser" model="Model"/>