@model WebApplicationMvc.ViewModels.DetalleCreateViewModel

@* Se muestra el uso de tag-helpers, que son etiquetas de ayuda de asp net *@
@* Permiten generar codigo de formulario en base al modelo que se definio para poder crear un registro *@

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form asp-controller="Detalle" asp-action="Create">
            <div class="form-group">
                <label asp-for="Cadena" class="control-label"></label>
                <input asp-for="Cadena" class="form-control"/>
                <span asp-validation-for="Cadena" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label" asp-for="Booleano">
                    <input class="form-check-input" asp-for="Booleano"/>
                    @Html.DisplayNameFor(model => model.Booleano)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Decimanl" class="control-label"></label>
                <input asp-for="Decimanl" class="form-control"/>
                <span asp-validation-for="Decimanl" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Entero" class="control-label"></label>
                <input asp-for="Entero" class="form-control"/>
                <span asp-validation-for="Entero" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control"/>
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>

            <div class="form-group">
                @* asp-for estas etiquetas permiten generar codigo de formulario, dependiendo del contexto
                puede generar codigo de label, el typo input o mensajes de validacion *@
                <label asp-for="Hora" class="control-label"></label>
                <input asp-for="Hora" class="form-control"/>
                <span asp-validation-for="Hora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Enum" class="control-label"></label>
                <select asp-for="Enum" asp-items="@Html.GetEnumSelectList<PruebaEnum>()" class="form-control">
                    <option value="">Seleccione una opcion</option>
                </select>
                <span asp-validation-for="Enum" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaHora" class="control-label"></label>
                <input asp-for="FechaHora" class="form-control"/>
                <span asp-validation-for="FechaHora" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Flotante" class="control-label"></label>
                <input asp-for="Flotante" class="form-control"/>
                <span asp-validation-for="Flotante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Archivo" class="control-label"></label>
                <input asp-for="Archivo" class="form-control"/>
                <span asp-validation-for="Archivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaestroId" class="control-label"></label>
                <select asp-for="MaestroId" class ="form-control" asp-items="ViewBag.SelectList"></select>
            </div>

            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary float-right">Guardar</button>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-3"></div>
</div>

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}