@model Detalle

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>
                    Detalles del registro
                </h5>
            </div>
            <div class="card-body">
                <form asp-controller="Detalle" asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Cadena" class="control-label"></label>
                        <input asp-for="Cadena" class="form-control" disabled/>
                        <span asp-validation-for="Cadena" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label" asp-for="booleano">
                            <input class="form-check-input" asp-for="booleano" disabled/>
                            @Html.DisplayNameFor(model => model.booleano)
                        </label>
                    </div>
                    <div class="form-group">
                        <label asp-for="decimanl" class="control-label"></label>
                        <input asp-for="decimanl" class="form-control" disabled/>
                        <span asp-validation-for="decimanl" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Entero" class="control-label"></label>
                        <input asp-for="Entero" class="form-control" disabled/>
                        <span asp-validation-for="Entero" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Fecha" class="control-label"></label>
                        <input asp-for="Fecha" class="form-control" disabled/>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Hora" class="control-label"></label>
                        <input asp-for="Hora" class="form-control" disabled/>
                        <span asp-validation-for="Hora" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Enum" class="control-label"></label>
                        <select asp-for="Enum" asp-items="@Html.GetEnumSelectList<PruebaEnum>()" class="form-control" disabled>
                            <option value="">Seleccione una opcion</option>
                        </select>
                        <span asp-validation-for="Enum" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="FechaHora" class="control-label"></label>
                        <input asp-for="FechaHora" class="form-control" disabled/>
                        <span asp-validation-for="FechaHora" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Flotante" class="control-label"></label>
                        <input asp-for="Flotante" class="form-control" disabled/>
                        <span asp-validation-for="Flotante" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NombreArchivo" class="control-label"></label>
                        <input asp-for="NombreArchivo" class="form-control" disabled/>
                        <span asp-validation-for="NombreArchivo" class="text-danger"></span>
                    </div>
                    <a asp-controller="Detalle" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger float-right">
                        Eliminar registro
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>